* { 
  box-sizing: border-box;
}

body {
  background: rgb(140, 118, 146);
  font-family: 'Bellota Text', cursive;
}

h1, p {
  text-align: center;
  width: 100%;
}

/******************************************  GRID  *************************************************/

.container {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/*********************************************  CARD  *************************************************/

.card {
  background: rgb(67, 67, 70);
  color: whitesmoke;
  font-size: 40;
  box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
  max-width: 300px;
  min-width: 200px;
  margin: 5%;
}

.card:hover {
  box-shadow: none;
}

.card__title {
  margin: auto;
  color: aquamarine;
  text-align: center;
  align-items: flex-end;
}

.card__img {
  height: 180px;
  width: 90%;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 2%;
}

.card__par {
  text-align: center;
}

.card--toggle:hover {
  display: none;
}

/******************************************************************************************************/


