body{
  background: rgb(140, 118, 146);
  font-family: 'Bellota Text', cursive;
}

.container{
  display: grid;
  justify-content: space-evenly;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
}

/*********************************************  CARD  *************************************************/

.card{
  background: rgb(67, 67, 70);
  color: whitesmoke;
  font-size: 40;
  box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
  max-width: 300px;
  max-height: 400px;
  
}
.card:hover{
  box-shadow: none;
}

.card__title{
  margin: auto;
  color: aquamarine;
  text-align: center;
  align-items: flex-end;

}

.card__img{
  height: 180px;
  width: 90%;
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 2%;
}

.card__par{
  text-align: center;
}

.card--toggle:hover{
  display: none;
}

/******************************************************************************************************/


